<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalPoject.Properties.Settings.TripWiseConnectionString"
            connectionString="Data Source=DESKTOP-GOH43H3;Initial Catalog=TripWise;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FinalPoject.Properties.Settings.TripWiseConnectionString1"
            connectionString="Data Source=DESKTOP-4RB4PAI\SQLEXPRESS;Initial Catalog=TripWise;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>